html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lobster', cursive;
  overflow-x: hidden;
}

.navbar {
  border-bottom: 1px solid white;
}

.navbar-nav {
  font-size: 20px;
}

.jumbotron {
  margin-bottom: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50%;
}

.padpanel {
  min-height: 40%;
}

.padpanel div {
  min-width: 180px;
  min-height: 200px;
}

.card {
  border-width: 5px;
  margin: 50px 0;
}

.card-body h4 {
  margin-bottom: 20px;
}

footer {
  height: 5%;
  font-size: 24px;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.categorie {
  font-size: 32px;
}

.list-group li {
  font-size: 22px;
}

.badge-pill {
  height: 32px;
}

.pagination {
  color: white;
}

.img-thumbnail {
  max-height: 200px;
}

.wholeheight {
  margin-top: 170px;
  margin-bottom: 170px;
}

.wholeheight2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wholeheight3 {
  margin-top: 105px;
  margin-bottom: 105px;
}

iframe {
  margin-bottom: 20px;
}

.titre-form {
  font-size: 20px;
}

#champ {
  overflow-x: hidden;
}

#active {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

@media screen and (max-width:1199px) {
  .wholeheight {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width:575px) {
  .wholeheight3 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
