html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lobster', cursive;
}

.navbar-nav {
  font-size: 20px;
}

.jumbotron {
  margin-bottom: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50%;
}

.padpanel {
  min-height: 40%;
}

.padpanel div {
  min-width: 250px;
  min-height: 200px;
}

.card {
  border-width: 5px;
  margin: 50px 0;
}

footer {
  height: 5%;
  font-size: 24px;
}

.categorie {
  font-size: 32px;
}

.list-group li {
  font-size: 22px;
}

.pagination {
  color: white;
}

.img-thumbnail {
  max-height: 200px;
}

.gallery {
  margin-top: 245px;
  margin-bottom: 245px;
}
